---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

footer.page__meta 
{
  background: #f4f4f4;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

a.page__taxonomy-item 
{
    border: none;
    background: #494e52;
    color: #fff;
}

a.page__taxonomy-item:hover
{
    background: #007bb6;
    color: #fff;
}
