---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

footer.page__meta 
{
  background: #f4f4f4;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page__taxonomy strong 
{
    margin-right: 0;
}

.page__taxonomy-item 
{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 10px;
    font-size: 1.2em;
    text-decoration: inherit;
    border: none;
    border-radius: none;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
